- title 'サービスを申し込む - イノベーション推進部サービスポータル'

.demands-new-page
  .page-header
    .title_vm
      %h2
        仮想サーバーレンタルサービスを申し込む
      %small
        3 種類の仮想サーバーまで同時に申し込むことが出来ます。
    .title_svn
      %h1
        SVN ホスティングサービスを申し込む
    .title_book
      %h1
        書籍を借りる
    .title_support_vm
      %h2
        仮想サーバーの変更をする
      %small
        現在稼働中の仮想サーバーについて指示をすることができます。
    .title_support_svn
      %h2
        SVN ホスティングサーバーの変更をする
      %small
        現在利用中の SVN ホスティングサーバーについて指示をすることができます。

  .row
    .span12
      = render 'form'

#result
