%table{:class => 'table table-hover table-striped'}
  %thead
    %tr
      %th{:style => "width:30px; text-align:center;"}
        \#
      %th{:style => "width:130px; text-align:center;"}
        名称
      %th{:style => "width:250px; text-align:center;"}
        概要
      %th{:style => "width:200px; text-align:center;"}
        詳細／お申し込み

  %tbody
    %tr
      %td
        - unless Rails.env.development?
          %img{:src => '/portal/images/pyconic/173.png', :style => 'border:0;'}
        - else
          %img{:src => '/images/pyconic/173.png', :style => 'border:0;'}
      %td
        仮想サーバーレンタル
      %td
        開発・検証などでの利用を目的とし、一時的にサーバーを利用したい方に対して、社内LAN経由で利用できる仮想サーバーをお貸しするサービスです。OSクリーンインストール直後のイメージをお貸しする他に、Jenkins/Subversion/Redmineを予めセットアップしたCI環境をお貸しすることもできます。
      %td
        %a{:href => "http://library.virtualization.dts.co.jp/blog/wp-content/uploads/downloads/2013/02/server-rental-service.pdf",
           :target => "_blank",
           :class => "btn btn"}
          詳細はこちら
        - unless Rails.env.development?
          %a{:class => "btn btn-primary", :href => "/portal/demands/new?service=vm" } お申し込み
        - else
          %a{:class => "btn btn-primary", :href => "/demands/new?service=vm" } お申し込み

    %tr
      %td
        - unless Rails.env.development?
          %img{:src => '/portal/images/pyconic/161.png', :style => 'border:0;'}
        - else
          %img{:src => '/images/pyconic/161.png', :style => 'border:0;'}
      %td
        SVN ホスティング
      %td
        開発におけるソースコード等のバージョン管理を目的とし、社内LAN経由で利用できる Subversion リポジトリをホスティングするサービスです。
      %td
        %a{:class => "btn btn",
           :target => "_blank",
           :href => "https://dts.bizca.jp/dts/bbs/bbs/index/10782?display_type=message" } 詳細はこちら
        - unless Rails.env.development?
          %a{:class => "btn btn-primary", :href => "/portal/demands/new?service=svn" } お申し込み
        - else
          %a{:class => "btn btn-primary", :href => "/demands/new?service=svn" } お申し込み

    %tr
      %td
        - unless Rails.env.development?
          %img{:src => '/portal/images/pyconic/061.png', :style => 'border:0;'}
        - else
          %img{:src => '/images/pyconic/061.png', :style => 'border:0;'}
      %td
        ソースコード診断
      %td
        コード診断ツール Jtest で Java ソースコードを診断し、レポートを返却するサービスです。セキュアで高品質な Java アプリケーションの開発をサポートします。
      %td
        %a{:class => "btn btn-primary",
           :target => "_blank",
           :href => "https://dts.bizca.jp/dts/bbs/bbs/index/9195?display_type=message" }
          詳細 及び お申し込み はこちら
