%h3
  仮想サーバー詳細情報
%table{:class => 'table table-bordered table-striped'}
  %thead
    %tr
      %th{:style => "width: 150px;"} 項目
      %th 内容
  %tbody
    %tr
      %td 仮想サーバー名称
      %td= @machine.vm_type
