.container
  %footer{:class=>"footer"}
    %hr
    %p{:class=>"pull-right pager"}
      %a{:href=> root_path}
        &uarr; トップへ戻る
    %p
      Powered by Ruby 2.0, Rails 3.2, Twitter Bootstrap.<br>
      Copyright (C) 2012-2013 DTS Corporation.
